.operator{

  height: 95px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1a33c;
  font-size: 30px;
 cursor: pointer;
}





@media only screen and (max-width: 320px)  {
    .operator{
      height: 70px;
    }
      }
      
      @media only screen and (min-width:321px) and (max-width:424px){
        .operator{
            height: 80px;
          }
      }
      @media only screen and (min-width:425px) and (max-width:768px) {
        .operator{
          height: 90px;
          }
      }
      
      @media only screen and (min-width:769px) and (max-width:1024px){
          
      }
      
      @media only screen and (min-width:1025px) and (max-width:1200px){
         
      }